//Import Fonts
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&family=Work+Sans:ital,wght@0,700;1,700&display=swap');
//Import Sass fucntions
@import "../../node_modules/bootstrap/scss/functions";
//Customisations
$font-family-base: 'Merriweather', serif;
$color-mode-type: data;
//Import Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@include color-mode(dark) {
    .element {
      color: var(--bs-primary-text-emphasis);
      background-color: var(--bs-primary-bg-subtle);
    }
  }
h1 {
    font-family: 'Work Sans', sans-serif !important;
}
.routePlanner {
    background-color: rgba($color: #ffffff, $alpha: 85%);
    border: solid #111111;
    border-radius: 2rem;
    padding: 4rem;
    margin: 4rem;
}
.inputLeft {
    border-radius: 1rem 0 0 1rem !important
}
.inputRight {
    border-radius: 0 1rem 1rem 0 !important;
    padding-left: 0.75rem;
}
.submitBtn {
    padding: 0.375rem 0.75rem;
}
.returnedRoute {
    display:none;
}